.app {
  text-align: center;
}

.app-header {
  background-color: #6772E5; /* Color de fondo similar a Stripe */
  padding: 1em;
  color: white;
}

.logo {
  max-width: 500px; /* Ajusta según el tamaño de tu logo */
  margin-bottom: 1em;
}